.ipython*
.local*
.env*
.bashrc
*.ipynb_checkpoints*
*__pycache__*

notebooks/2017*
vh_combine/2017*
vh_combine/allyears*

#Ignore large file
*.pkl
*.tar.gz

#Ignore Output files
Archive*
OutFiles*

*DDB*

dask-report*
*.out
*logs*